@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');


$darkViolet: hsl(256, 26%, 20%);
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$grayishBlue: hsl(216, 30%, 68%);
$veryLightGray: hsl(0, 0%, 98%);
$headingFont: 'DM Serif Display', sans-serif;
$bodyFont: 'Karla', sans-serif:
